@import "partials/reset";
@import "modules/variables";
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,800,900');

//CZCIONKA DLA CAŁEJ STRONY
html {
  font-family: "Raleway";
}

//GŁOWNY KONTENER O SZER. 1200px (wg. projektu)
.container {
  width: 1200px;
  height: 2000px;
  margin: 0 auto;
  background-color: darkgrey;
}

//KONTENER Z CAŁĄ ZAWARTOŚCIĄ
.content-container {
  width: 1065px;
  margin: 0 auto;
}

//POZIOMA LINIA
@mixin colorLine($width, $height) {
  .colorLine {
    width: $width;
    height: $height;
    background-color: #27c7ab;
  }
}

//KÓŁKA NAD NOTKAMI Z CENNIKIEM
@mixin rounds($bigRoundColor, $bigRoundBorder, $smallRoundColor) {
  &::before {
    content: "";
    position: absolute;
    box-sizing: border-box;
    width: 57px;
    height: 57px;
    background-color: $bigRoundColor;
    border: 2px $bigRoundBorder solid;
    border-radius: 50%;
    left: 41%;
    top: -8%;
  }
  &::after {
    content: "";
    position: absolute;
    width: 27px;
    height: 27px;
    background-color: $smallRoundColor;
    border-radius: 50%;
    left: 45.5%;
    top: -5%;
  }
}

//KÓŁKO Z CENĄ
@mixin priceRound($hColor, $roundBorder, $textColor) {
  h2 {
    color: $hColor;
    text-align: center;
    margin-top: -15px;
    margin-bottom: 29px;
    font-weight: 400;
    font-size: 26px;
  }

  .price {
    font-size: 16px;
    font-weight: 700;
    width: 127px;
    height: 127px;
    background-color: white;
    border-radius: 50%;
    box-sizing: border-box;
    border: 2px $roundBorder solid;
    color: $textColor;
    margin-left: 31%;
    margin-top: 5%;
    padding-top: 28px;
    padding-left: 12px;
    text-align: center;
    p:first-of-type {
      font-size: 45px;
      margin-bottom: 7px;
      sup {
        vertical-align: super;
        font-size: 16px;
      }
    }
    p:last-of-type { margin-right: 10px; }
  }
}

//OPCJE ZWIĄZANE Z WYBRANYM PLANEM
@mixin options($color1, $color2) {
  .options {
    margin-bottom: 20px;
    .option:first-of-type { margin-top: 30px; }
    .option:nth-of-type(2n-1) { background-color: $color1; }
    .option:nth-of-type(2n) { background-color: $color2 }
    .option {
      color: #9e9e9e;
      font-size: 24px;
      font-weight: 400;
      width: 320px;
      margin-left: 3px;
      height: 26px;
      text-align: center;
      padding: 10px 0;
    }
  }
}

//PRZYCISKI (WYBÓR PLANU)
@mixin buttons($color1, $color2, $i) {
  button {
    position: absolute;
    width: 122px;
    height: 34px;
    background-color: $color1;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    color: $color2;
    margin-left: 105px;
    margin-top: 100px - (($i - 1) * 50) - ((3 - $i) * 5);
  }
}

//SEKCJA BODY
body {

  //GŁÓWNY KONTENER
   .container {
    //NAGŁÓWEK
     header {
      background-color: black;
      width: 100%;
      height: 41px;
      //KONTENER Z ZAWARTOŚCIĄ
      .content-container {
        padding-top: 14px;
        font-size: 14px;
        color: white;
        //LOGO W NAGŁÓWKU
        .logo {
          float: left;
          font-weight: 600;
          text-transform: uppercase;
          word-spacing: 3px;
          a {
            text-decoration: none;
            color: white;
            animation: changeColor 3s alternate infinite;
          }
          a:nth-of-type(2) {
            font-weight: 800;
            color: #27c7ab;
            animation: changeColorReverse 3s alternate infinite;
          }
        }

        //NAWIGACJA W NAGŁÓWKU
        nav {
          float: right;
          font-weight: 700;
          font-size: 14px;
          a {
            text-transform: uppercase;
            letter-spacing: 0.6px;
            margin-left: 25px;
            margin-right: 10px;
            line-height: 19px;
            text-decoration: none;
            color: white;
          }
          a:nth-of-type(2) {
            margin-left: 37px;
          }
          a:hover {
            animation: changeColor 0.3s;
            color: #27c7ab;
          }

          //ROZWIJANE MENU
          .unwrap-menu {
            display: none;
            position: absolute;
            box-sizing: border-box;
            padding-top: 12px;
            background-color: black;
            margin-top: 19px;
            margin-left: 6px;
            font-size: 16px;
            width: 120px;
            height: 96px;
            animation: showMenu 0.5s;
            //TRÓJKĄT
            &:before {
              content: "";
              position: absolute;
              margin-left: 44px;
              margin-top: -21px;
              width: 0;
              height: 0;
              border-left: 10px solid transparent;
              border-right: 10px solid transparent;
              border-bottom: 10px solid black;
            }
            //DRUGI PSEUDO ELEMENT, ABY ZACHOWAĆ CIĄGŁOŚĆ ELEMENTÓW
            //(MOŻNA ZJECHAĆ SWOBODNIE MYSZKĄ W DÓŁ, A MENU NIE UCIEKA)
            &:after {
              content: "";
              position: absolute;
              height: 25px;
              width: 120px;
              margin-top: -120px;
            }
            li {
              line-height: 22px;
              margin-left: -10.5px;
              margin-bottom: 5.5px;
              a {
                letter-spacing: 0;
                font-weight: 500;
                text-transform: none;
              }
            }
          }
        }
      }
     }

    //SEKCJA ZE ZDJĘCIEM (SLIDER)
    .image-header {
      background-image: (linear-gradient(top, #eeeeee 0%,#cccccc 100%));
      width: 100%;
      height: 500px;
      .content-container {

        //ZDJĘCIE
        img {
          width: 600px;
          height: 430px;
          margin-top: 65px;
          margin-left: -46px;
          float: left;
        }

        //NAGŁÓWEK, PRZYCISK
        article {
          text-align: center;
          position: absolute;
          width: 420px;
          margin-left: 487px;
          margin-top: 138px;
          h1 {
            font-size: 40px;
            text-transform: uppercase;
            a:nth-of-type(2n-1) {
              color: black;
              font-weight: 500;
            }
            a:nth-of-type(2n) {
              color: #27c7ab;
              font-weight: 700;
            }
          }

          p {
            margin-top: 10px;
            font-size: 14px;
            font-weight: 400;
            line-height: 21.5px;
            margin-bottom: 31px;
          }

          button {
            background-color: #27c7ab;
            border-radius: 10px;
            width: 264px;
            height: 53px;
            color: white;
            font-size: 24px;
            font-weight: 500;
            text-transform: uppercase;
          }

        }

        //STRZAŁKI
        .arrows {
          position: absolute;
          font-size: 78px;
          color: #27c7ab;
          font-weight: 300;
          width: 1050px;
          margin-top: 215px;
          div:first-of-type { float: left; }
          div:last-of-type { float: right; }
        }
      }
    }

    //SEKCJA ZE ZDJĘCIAMI
    .image-main {
      background-color: white;
      height: 355px;
      box-sizing: border-box;
      border: 1px solid lightgrey;
      box-shadow: 0 0 1px lightgrey;
      .content-container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        padding-top: 31px;
        margin-left: 65px;
        width: 1050px;

        .image-title {
          box-sizing: border-box;
          width: 355px;
          height: 62px;
          background-color: rgba(255, 255, 255, 0.4);
          margin-top: 150px;
          padding-top: 15px;
          padding-left: 15px;
          h3 {
            font-size: 16px;
            font-weight: 600;
          }
          @include colorLine(138px, 7px);
        }

        //ZDJĘCIA (image-box)
        @for $i from 1 through 2 {
          .image-box#{$i} {
            background-image: url(../images/box#{$i}_img.jpg);
            width: 330px;
            height: 225px;
            border: 1px grey solid;
            &:hover {
              .image-title:first-of-type {
                animation: showMenu 0.75s reverse;
                opacity: 0;
              }
            }
          }
        }

        .article-box {
          width: 338px;
          height: 252px;
          border: 1px grey solid;
          .article-box-content {
            padding: 28px 10px 0 28px;
            h3 {
              font-size: 16px;
              font-weight: 600;
              margin-bottom: 3px;
            }

            @include colorLine(138px, 7px);

            p {
              margin-top: 17px;
              line-height: 20.3px;
              color: #565656;
              font-size: 14px;
              font-weight: 400;
            }
          }
        }

      }
    }

    //SEKCJA Z CENNIKIEM
    .prices-section {
      height: 725px;
      width: 100%;
      background-color: lightgrey;
      .content-container {
        h2 {
          font-size: 22px;
          font-weight: 500;
          text-transform: uppercase;
          color: #575757;
          margin-bottom: 8px;
          padding-top: 45px;
        }

        @include colorLine(320px, 8px);

        .prices-notes {
          display: flex;
          justify-content: space-between;
          padding-top: 75px;
          width: 1045px;
          .note {
            width: 326px;
            height: 497px;
            position: relative;
          }

          @for $i from 1 to 4 {
            .note:nth-of-type(#{$i}) {

              //BASCI PLAN & ADVANCE PLAN
              @if ($i != 2) {
                background-color: #f6f6f6;
                border: 2px #c0c0c0 solid;
                @include rounds(#f6f6f6, #c0c0c0, #c0c0c0);
                @include priceRound(#27c7ab, #c0c0c0, #c0c0c0);
                @include options(#e1e1e1, #eeeeee);
                @include buttons(#27c7ab, white, $i);
              }

              //STANDARD PLAN
              @else {
                background-color: #27c7ab;
                border: 2px #27c7ab solid;
                @include rounds(#27c7ab, #27c7ab, #f6f6f6);
                @include priceRound(white, #27c7ab, #27c7ab);
                @include options(white, #eeeeee);
                @include buttons(white, #27c7ab, $i);
              }
            }
          }
        }
      }
    }

    //SEKCJA Z FORMULARZEM
    .form-section {
      width: 100%;
      height: 650px;
      background-color: white;
      padding-top: 34px;
      box-sizing: border-box;
      border: 1px solid lightgrey;
      box-shadow: 0 0 1px lightgrey;
      .content-container {
        h2 {
          font-size: 22px;
          font-weight: 500;
          text-transform: uppercase;
          color: #575757;
          margin-bottom: 5px;
        }
        @include colorLine(320px, 8px);

        .form-sections {
          display: flex;
          flex-direction: row;
          .form-section-left {
            //FORMULARZ
            form {
              // float: left;
              margin-top: 45px;
              height: 371px;
              width: 631px;
              display: flex;
              flex-direction: column;
              justify-content: space-between;

              input {
                height: 64px;
                border: 1px #27c7ab solid;
                font-family: "Raleway", sans-serif;
                font-size: 33px;
                font-weight: 300px;
                padding-left: 12px;
                &::placeholder {
                  opacity: 0.5;
                }
              }

              textarea {
                height: 173px;
                border: 1px #27c7ab solid;
                resize: none;
                font-family: "Raleway", sans-serif;
                font-size: 33px;
                font-weight: 300px;
                padding-left: 12px;
                padding-top: 11px;
                &::placeholder {
                  opacity: 0.5;
                }
              }
            }
          }

          //CHECKBOX, BUTTON
          .form-section-right {
            margin-left: 66px;
            img {
              display: block;
              margin: 0 auto;
              margin-top: 20px;
            }

            .checkbox {
              // display: block;
              width: 300px;
              &::after {
                content: "";
                clear: both;
                display: block;
              }

              .custom-checkbox {
                position: absolute;
                width: 400px;
                margin-top: 30px;
                font-size: 20px;
                color: #aeaeae;
                font-weight: 300;
                line-height: 25.5px;

                input[type="checkbox"] {
                  display: none;

                  + label {
                    float: left;
                    width: 46px;
                    height: 46px;
                    border: 1px solid #27c7ab;
                    margin-right: 13px;

                    &::after {
                      content: "";
                      width: 33px;
                      height: 33px;
                      padding: 5px;
                      margin: 3px 0;
                      background-repeat: no-repeat;
                      background-image: url(../images/form_ok.jpg);
                      display: none;
                    }
                  }
                }
                input[type="checkbox"]:checked + label::after {
                  animation: showMenu 0.3s;
                  display: block;
                }
              }
            }

            button {
              position: absolute;
              display: block;
              margin: 0 auto;
              width: 343px;
              height: 71px;
              border-radius: 10px;
              background-color: #27c7ab;
              color: white;
              font-size: 34px;
              font-weight: 700;
              text-transform: uppercase;
              margin-top: 115px;
            }
          }
        }
      }

      //STOPKA
      footer {
        .content-container {
          display: flex;
          justify-content: space-between;
          align-items:flex-end;
          margin-top: 80px;
          // div {border: 1px solid black;}
          .copyright {
            flex-grow: 8;
            font-size: 16px;
            font-weight: 500;
            color: #9b9b9b;
            letter-spacing: 0.8px;
          }

          .icons {
            flex-grow: 3;
            text-align: center;
          }

          .footLogo {
            text-align: center;
            flex-grow: 1;
            font-size: 20px;
            font-weight: 600;
            color: #9b9b9b;
            text-transform: uppercase;
            letter-spacing: 0.6px;
            a:nth-of-type(2) {
              font-weight: 900;
            }
          }
        }
      }
    }

   }
 }

//ANIMACJE

@keyframes showMenu {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes hide {
  display: none;
}

@keyframes changeColor {
  0% { color: white; }
  100% { color: #27c7ab; }
}

@keyframes changeColorReverse {
  0% { color: #27c7ab; }
  100% { color: white; }
}
