@import "partials/reset";
@import "modules/variables";
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,800,900');

//CZCIONKA DLA CAŁEJ STRONY
html {
  font-family: "Raleway";
}

//GŁOWNY KONTENER O SZER. 1200px (wg. projektu)
.container {
  width: 1200px;
  height: 2000px;
  margin: 0 auto;
  background-color: darkgrey;
}

//KONTENER Z CAŁĄ ZAWARTOŚCIĄ
.content-container {
  width: 1065px;
  margin: 0 auto;
}

//WIDOCZNOŚĆ
.unvisible {
  display: none;
}

//POZIOMA LINIA
@mixin colorLine($width, $height) {
  .colorLine {
    width: $width;
    height: $height;
    background-color: #27c7ab;
  }
}

//KÓŁKA NAD NOTKAMI Z CENNIKIEM
@mixin rounds($bigRoundColor, $bigRoundBorder, $smallRoundColor) {
  &::before {
    content: "";
    position: absolute;
    box-sizing: border-box;
    width: 57px;
    height: 57px;
    background-color: $bigRoundColor;
    border: 2px $bigRoundBorder solid;
    border-radius: 50%;
    left: 41%;
    top: -8%;
  }
  &::after {
    content: "";
    position: absolute;
    width: 27px;
    height: 27px;
    background-color: $smallRoundColor;
    border-radius: 50%;
    left: 45.5%;
    top: -5%;
  }
}

//KÓŁKO Z CENĄ
@mixin priceRound($hColor, $roundBorder, $textColor) {
  h2 {
    color: $hColor;
    text-align: center;
    margin-top: -15px;
    margin-bottom: 29px;
    font-weight: 400;
    font-size: 26px;
  }

  .price {
    font-size: 16px;
    font-weight: 700;
    width: 127px;
    height: 127px;
    background-color: white;
    border-radius: 50%;
    box-sizing: border-box;
    border: 2px $roundBorder solid;
    color: $textColor;
    margin-left: 31%;
    margin-top: 5%;
    padding-top: 28px;
    padding-left: 12px;
    text-align: center;
    p:first-of-type {
      font-size: 45px;
      margin-bottom: 7px;
      sup {
        vertical-align: super;
        font-size: 16px;
      }
    }
    p:last-of-type { margin-right: 10px; }
  }
}

//OPCJE ZWIĄZANE Z WYBRANYM PLANEM
@mixin options($color1, $color2) {
  .options {
    margin-bottom: 20px;
    .option:first-of-type { margin-top: 30px; }
    .option:nth-of-type(2n-1) { background-color: $color1; }
    .option:nth-of-type(2n) { background-color: $color2 }
    .option {
      color: #9e9e9e;
      font-size: 24px;
      font-weight: 400;
      width: 320px;
      margin-left: 3px;
      height: 26px;
      text-align: center;
      padding: 10px 0;
    }
  }
}

//PRZYCISKI (WYBÓR PLANU)
@mixin buttons($color1, $color2, $i) {
  button {
    position: absolute;
    width: 122px;
    height: 34px;
    background-color: $color1;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    color: $color2;
    margin-left: 105px;
    margin-top: 100px - (($i - 1) * 50) - ((3 - $i) * 5);
    cursor: pointer;
  }
}

//SEKCJA BODY
body {

  //GŁÓWNY KONTENER
   .container {
    //NAGŁÓWEK
     header {
      background-color: black;
      width: 100%;
      height: 41px;
      //KONTENER Z ZAWARTOŚCIĄ
      .content-container {
        padding-top: 14px;
        font-size: 14px;
        color: white;
        //LOGO W NAGŁÓWKU (+ ANIMACJA)
        .logo {
          float: left;
          font-weight: 600;
          text-transform: uppercase;
          word-spacing: 3px;
          a {
            text-decoration: none;
            color: white;
            animation: changeColor 3s alternate infinite;
          }
          a:nth-of-type(2) {
            font-weight: 800;
            color: #27c7ab;
            animation: changeColorReverse 3s alternate infinite;
          }
        }

        //NAWIGACJA W NAGŁÓWKU
        nav {
          float: right;
          font-weight: 700;
          font-size: 14px;
          a {
            text-transform: uppercase;
            letter-spacing: 0.6px;
            margin-left: 25px;
            margin-right: 10px;
            line-height: 19px;
            text-decoration: none;
            color: white;
          }
          a:nth-of-type(2) {
            margin-left: 37px;
          }
          a:hover {
            animation: changeColor 0.3s;
            color: #27c7ab;
          }

          //ROZWIJANE MENU
          .unwrap-menu {
            display: none;
            position: absolute;
            box-sizing: border-box;
            padding-top: 12px;
            background-color: black;
            margin-top: 19px;
            margin-left: 6px;
            font-size: 16px;
            width: 120px;
            height: 96px;
            // animation: showMenu 0.5s;
            //TRÓJKĄT
            &:before {
              content: "";
              position: absolute;
              margin-left: 44px;
              margin-top: -21px;
              width: 0;
              height: 0;
              border-left: 10px solid transparent;
              border-right: 10px solid transparent;
              border-bottom: 10px solid black;
            }
            //DRUGI PSEUDO ELEMENT, ABY ZACHOWAĆ CIĄGŁOŚĆ ELEMENTÓW
            //(MOŻNA ZJECHAĆ SWOBODNIE MYSZKĄ W DÓŁ, A MENU NIE UCIEKA)
            &:after {
              content: "";
              position: absolute;
              height: 25px;
              width: 120px;
              margin-top: -120px;
              // border: 1px solid yellow;
            }
            li {
              line-height: 22px;
              margin-left: -10.5px;
              margin-bottom: 5.5px;
              a {
                letter-spacing: 0;
                font-weight: 500;
                text-transform: none;
              }
            }
          }
        }
      }
     }

    //SEKCJA ZE ZDJĘCIEM (SLIDER)
    .image-header {
      background-image: (linear-gradient(top, #eeeeee 0%,#cccccc 100%));
      width: 100%;
      height: 500px;
      .content-container {

        //CZERWONE KRZESŁO
        .slide:nth-of-type(1) img {
          width: 400px;
          height: 300px;
          margin-top: 105px;
          margin-left: 55px;
          float: left;
        }

        //POMARAŃCZOWE KRZESŁO
        .slide:nth-of-type(2) img {
          width: 500px;
          height: 330px;
          margin-top: 125px;
          margin-left: -5px;
          float: left;
        }

        //CZARNE KRZESZŁO
        .slide:nth-of-type(3) img {
          width: 600px;
          height: 430px;
          margin-top: 65px;
          margin-left: -46px;
          float: left;
        }

        .slide {
          //NAGŁÓWEK, PRZYCISK
          article {
            text-align: center;
            position: absolute;
            width: 420px;
            margin-left: 487px;
            margin-top: 138px;
            h1 {
              font-size: 40px;
              text-transform: uppercase;
              a:nth-of-type(2n-1) {
                color: black;
                font-weight: 500;
              }
              a:nth-of-type(2n) {
                color: #27c7ab;
                font-weight: 700;
              }
            }

            p {
              margin-top: 10px;
              font-size: 14px;
              font-weight: 400;
              line-height: 21.5px;
              margin-bottom: 31px;
            }

            button {
              background-color: #27c7ab;
              border-radius: 10px;
              width: 264px;
              height: 53px;
              color: white;
              font-size: 24px;
              font-weight: 500;
              text-transform: uppercase;
              cursor: pointer;
            }
          }
        }

        //STRZAŁKI
        .arrows {
          position: absolute;
          a {
            font-size: 78px;
            color: #27c7ab;
            font-weight: 300;
            text-decoration: none;
          }
          width: 1050px;
          margin-top: 215px;
          div:first-of-type { float: left; }
          div:last-of-type { float: right; }
        }
      }
    }

    //SEKCJA ZE ZDJĘCIAMI
    .image-main {
      background-color: white;
      height: 355px;
      box-sizing: border-box;
      border: 1px solid lightgrey;
      box-shadow: 0 0 1px lightgrey;
      .content-container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        padding-top: 31px;
        margin-left: 65px;
        width: 1050px;

        .image-title {
          box-sizing: border-box;
          width: 330px;
          height: 62px;
          background-color: rgba(255, 255, 255, 0.4);
          margin-top: 150px;
          padding-top: 15px;
          padding-left: 15px;
          h3 {
            font-size: 16px;
            font-weight: 600;
          }
          @include colorLine(138px, 7px);
        }

        //ZDJĘCIA (image-box)
        @for $i from 1 through 2 {
          .image-box#{$i} {
            background-image: url(../images/box#{$i}_img.jpg);
            width: 330px;
            height: 225px;
            border: 1px grey solid;
          }
        }

        .article-box {
          width: 338px;
          height: 252px;
          border: 1px grey solid;
          .article-box-content {
            padding: 28px 10px 0 28px;
            h3 {
              font-size: 16px;
              font-weight: 600;
              margin-bottom: 3px;
            }

            @include colorLine(138px, 7px);

            p {
              margin-top: 17px;
              line-height: 20.3px;
              color: #565656;
              font-size: 14px;
              font-weight: 400;
            }
          }
        }

      }
    }

    //SEKCJA Z CENNIKIEM
    .prices-section {
      height: 725px;
      width: 100%;
      background-color: lightgrey;
      .content-container {
        h2 {
          font-size: 22px;
          font-weight: 500;
          text-transform: uppercase;
          color: #575757;
          margin-bottom: 8px;
          padding-top: 45px;
        }

        @include colorLine(320px, 8px);

        .prices-notes {
          display: flex;
          justify-content: space-between;
          padding-top: 75px;
          width: 1045px;
          .note {
            width: 326px;
            height: 497px;
            position: relative;
          }

          @for $i from 1 to 4 {
            .note:nth-of-type(#{$i}) {

              //BASCI PLAN & ADVANCE PLAN
              @if ($i != 2) {
                background-color: #f6f6f6;
                border: 2px #c0c0c0 solid;
                @include rounds(#f6f6f6, #c0c0c0, #c0c0c0);
                @include priceRound(#27c7ab, #c0c0c0, #c0c0c0);
                @include options(#e1e1e1, #eeeeee);
                @include buttons(#27c7ab, white, $i);
              }

              //STANDARD PLAN
              @else {
                background-color: #27c7ab;
                border: 2px #27c7ab solid;
                @include rounds(#27c7ab, #27c7ab, #f6f6f6);
                @include priceRound(white, #27c7ab, #27c7ab);
                @include options(white, #eeeeee);
                @include buttons(white, #27c7ab, $i);
              }
            }
          }
        }
      }
    }

    //SEKCJA Z KALKULATOREM
    .application {
      background-color: #f9f9f9;
      padding:30px 0;
      h3 {
        color: #575757;
        font-size: 18px;
      }
      header {
        background-color: inherit;
        .align_right { text-align: right; }
      }
      .inline {
        display:inline-block;
        width:300px;
        padding:14px;
        vertical-align: top;
        .form {
          margin-top:50px;
          .drop_down_list {
            border:1px solid #8de0d2;
            width: 280px;
            height:38px;
            background-color: white;
            margin-top:22px;
            padding: 8px 12px;
            position: relative;
            .list_label {
              font-size: 30px;
              color: #e2e2e2;
              font-family: 'ralewaylight', Arial, Tahoma, sans-serif;
            }
          }
          .checkbox {
            position: relative;
            padding: 30px 30px 30px 0;
            input {
              display: block;
              opacity: 0;
              height: 48px;
              position: absolute;
              width: 48px;
              cursor: pointer;
            }
            label {
              display: block;
              padding-left: 65px;
              position: relative;
              font-size: 28px;
              color: #cecece;
              line-height: 120%;
              padding-top: 10px;
              cursor: pointer;
            }
          }
          .checkbox label::before, .checkbox label::after {
            border: 1px solid #27c7ab;
            content: "";
            display: block;
            left: 0;
            height: 48px;
            position: absolute;
            width: 48px;
            top: 0;
          }
          .checkbox label::after {
            background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20preserveAspectRatio%3D%22xMidYMid%22%20width%3D%2233.875%22%20height%3D%2233%22%20viewBox%3D%220%200%2033.875%2033%22%3E%0A%20%20%3Cpath%20d%3D%22M9.470%2C15.209%20L14.061%2C24.104%20C14.061%2C24.104%2021.522%2C6.026%2033.287%2C-0.000%20C33.000%2C4.304%2031.852%2C8.035%2033.861%2C12.626%20C28.696%2C13.774%2018.078%2C26.687%2014.635%2C33.000%20C9.756%2C26.974%204.017%2C22.382%20-0.000%2C20.948%20L9.470%2C15.209%20Z%22%20fill%3D%22%2327c7ab%22/%3E%0A%3C/svg%3E%0A") no-repeat center;
            border: 0;
            display: none;
          }
          .checkbox input:checked + label::after {
            display: block;
            animation: showMenu 0.3s;
          }
        }
      }
      .green_bell {
        background-color: #24baa0;
        width: 200px;
        height: 6px;
        display: inline-block;
        margin: 5px 0 5px 0;
      }
      .green_button {
        background-color: #27c7ab;
        color: white;
        text-align:center;
        text-transform: uppercase;
        width: 200px;
        padding: 10px 30px;
        font-size: 24px;
        display: inline-block;
        font-family: 'ralewaymedium', Arial, Tahoma, sans-serif;
        margin-top: 20px;
        margin-left: 29px;
        border-radius: 8px;
        text-decoration: none;
      }
    }
    .active {
      background: url('../images/form_ok.jpg');
      width: 48px;
      height: 40px;
    }
    .inline_text {
      display: inline-block;
      width: 228px;
      vertical-align: top;
      margin-top: 30px;
      margin-left: 15px;
      color: #aeaeae;
    }
    .image_part img{
      margin-top: 110px;
      margin-left: 38px;
    }


    .summary_panel {
      background-color: white;
      width:100%;
      height:195px;
      padding:10px;
      margin-top: 50px;

    }

    .panel_left {
      display: inline-block;
      width: 185px;
      vertical-align: top;
      padding-bottom:10px;
      border-bottom:1px solid #e7e7e7;
      height: 135px;
    }

    .panel_right {
      display: inline-block;
      width: 100px;
      border-left:1px solid #e7e7e7;
      text-align: right;
      vertical-align: top;
      padding-bottom:10px;
      border-bottom:1px solid #e7e7e7;
      height: 135px;
    }

    .panel_left h4 , .panel_right h4{
      color: #24baa0;
      font-size: 23px;
    }

    .panel_left span{
      margin-top:10px;
      font-size: 22px;
      color: #5b5a5a;
      display: block;
    }

    .panel_right span {
      display: block;
      font-size: 22px;
      color: #24baa0;
      margin-top:10px;
    }
    .sum_label{
      display: inline-block;
      width: 185px;
      margin-top: 10px;
      font-size: 22px;
      color: #5b5a5a;
    }

    .sum {
      display: inline-block;
      width: 100px;
      text-align: right;
      margin-top: 10px;
      font-size: 22px;
      color: #24baa0;
    }

    .list_arrow {
      width: 0;
      height: 0;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-top: 15px solid #24baa0;
      display:block;
      position: absolute;
      right: 14px;
      top: 20px;
      cursor: pointer;
    }

    .list_panel {
      background-color: white;
      border: 1px solid #ccc;
      width: 289px;
      padding-left: 15px;
      padding-bottom: 10px;
      list-style: none;
      margin: 0;
      left: -1px;
      z-index: 2;
      position: absolute;
      top: 54px;
      display: none;
      font-weight: 700;
      li {
        margin-top:10px;
        cursor: pointer;
        color: black;
        a:hover {
          animation: changeColorBlack 0.3s;
          color: #27c7ab;
        }
      }
    }

    .title {
      height: 30px;
    }

    //SEKCJA Z FORMULARZEM
    .form-section {
      width: 100%;
      height: 650px;
      background-color: white;
      padding-top: 34px;
      box-sizing: border-box;
      border: 1px solid lightgrey;
      box-shadow: 0 0 1px lightgrey;
      .content-container {
        h2 {
          font-size: 22px;
          font-weight: 500;
          text-transform: uppercase;
          color: #575757;
          margin-bottom: 5px;
        }
        @include colorLine(320px, 8px);

        .form-sections {
          display: flex;
          flex-direction: row;
          .form-section-left {
            //FORMULARZ
            form {
              // float: left;
              margin-top: 45px;
              height: 371px;
              width: 631px;
              display: flex;
              flex-direction: column;
              justify-content: space-between;

              input {
                height: 64px;
                border: 1px #27c7ab solid;
                font-family: "Raleway", sans-serif;
                font-size: 33px;
                font-weight: 300px;
                padding-left: 12px;
                &::placeholder {
                  opacity: 0.5;
                }
              }

              textarea {
                height: 173px;
                border: 1px #27c7ab solid;
                resize: none;
                font-family: "Raleway", sans-serif;
                font-size: 33px;
                font-weight: 300px;
                padding-left: 12px;
                padding-top: 11px;
                &::placeholder {
                  opacity: 0.5;
                }
              }
            }
          }

          //CHECKBOX, BUTTON
          .form-section-right {
            margin-left: 66px;
            img {
              display: block;
              margin: 0 auto;
              margin-top: 20px;
            }

            .checkbox {
              width: 300px;
              &::after {
                content: "";
                clear: both;
                display: block;
              }

              .custom-checkbox {
                position: absolute;
                width: 400px;
                margin-top: 30px;
                font-size: 20px;
                color: #aeaeae;
                font-weight: 300;
                line-height: 25.5px;

                input[type="checkbox"] {
                  display: none;
                  cursor: pointer;
                  + label {
                    float: left;
                    cursor: pointer;
                    width: 46px;
                    height: 46px;
                    border: 1px solid #27c7ab;
                    margin-right: 13px;

                    &::after {
                      content: "";
                      width: 33px;
                      height: 33px;
                      padding: 5px;
                      margin: 3px 0;
                      background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20preserveAspectRatio%3D%22xMidYMid%22%20width%3D%2233.875%22%20height%3D%2233%22%20viewBox%3D%220%200%2033.875%2033%22%3E%0A%20%20%3Cpath%20d%3D%22M9.470%2C15.209%20L14.061%2C24.104%20C14.061%2C24.104%2021.522%2C6.026%2033.287%2C-0.000%20C33.000%2C4.304%2031.852%2C8.035%2033.861%2C12.626%20C28.696%2C13.774%2018.078%2C26.687%2014.635%2C33.000%20C9.756%2C26.974%204.017%2C22.382%20-0.000%2C20.948%20L9.470%2C15.209%20Z%22%20fill%3D%22%2327c7ab%22/%3E%0A%3C/svg%3E%0A") no-repeat center;
                      display: none;
                    }
                  }
                }
                input[type="checkbox"]:checked + label::after {
                  animation: showMenu 0.3s;
                  display: block;
                }
              }
            }

            button {
              position: absolute;
              display: block;
              margin: 0 auto;
              width: 343px;
              height: 71px;
              border-radius: 10px;
              background-color: #27c7ab;
              color: white;
              font-size: 34px;
              font-weight: 700;
              text-transform: uppercase;
              margin-top: 115px;
              cursor: pointer;
            }
          }
        }
      }

      //STOPKA
      footer {
        .content-container {
          display: flex;
          justify-content: space-between;
          align-items:flex-end;
          margin-top: 80px;
          // div {border: 1px solid black;}
          .copyright {
            flex-grow: 8;
            font-size: 16px;
            font-weight: 500;
            color: #9b9b9b;
            letter-spacing: 0.8px;
          }

          .icons {
            flex-grow: 3;
            text-align: center;
          }

          .footLogo {
            text-align: center;
            flex-grow: 1;
            font-size: 20px;
            font-weight: 600;
            color: #9b9b9b;
            text-transform: uppercase;
            letter-spacing: 0.6px;
            a:nth-of-type(2) {
              font-weight: 900;
            }
          }
        }
      }
    }

   }
 }

//ANIMACJE

@keyframes showMenu {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes hideMenu {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes changeColor {
  0% { color: white; }
  100% { color: #27c7ab; }
}

@keyframes changeColorReverse {
  0% { color: #27c7ab; }
  100% { color: white; }
}

@keyframes changeColorBlack {
  0% { color: black; }
  100% { color: #27c7ab; }
}

@keyframes slideLeft {
  0% { margin-left: 0; }
  50% { margin-left: -500px; }
  100% { margin-left: -1500px; }
}

@keyframes slideRight {
  0% { margin-left: 0; }
  50% { margin-left: 500px; }
  100% { margin-left: 1500px; }
}

@keyframes slideFromLeft {
  0% { margin-left: -1500px }
  100% { margin-left: 0 }
}

@keyframes slideFromRight {
  0% { margin-left: 1500px; }
  100% { margin-left: 0; }
}

@keyframes rotate180 {
  100% { transform: rotate(360deg); }
}

.runShowMenu { animation: showMenu 0.5s; }

.runHideMenu { animation: hideMenu 0.5s; }

// .runChangeColor { animation: changeColor 0.3s; }
//
// .runChangeColorReverse { animation: changeColorReverse 0.3s; }

.runSlideLeft { animation: slideLeft 0.5s; }

.runSlideRight { animation: slideRight 0.5s; }

.runSlideFromLeft { animation: slideFromLeft 0.5s; }

.runSlideFromRight { animation: slideFromRight 0.5s; }

.runRotate180 { animation: rotate180 0.5s; }
